.newsWrap{
	width:95%;
	background:#fff;
	padding:15px;
	border:1px solid #dfdfdf;	
}
.newsWrap h1{
	text-align:center;
	margin:40px 0;
}
#nhtLeft{
	width:65%;
	float:left;
}
.clrFix{
	clear:both;
	margin:5px 0;
}
#nhtRight{
	float:left;
	width:30%;
	text-align:right;
}
label > span{
color:#ff0000;
}
.nhtWidget{
	width:95%;
	height:300px;
	padding:5px;
	overflow:hidden;
}
.border_1{border:1px solid #CCCCCC;}
/*.pick_color {
  margin-bottom: -4px;
  margin-left: 5px;
}*/
input + .iris-picker {
  margin-left: 0px !important;
}