.newsWrap{
	width:95%;
	background:#fff;
	padding:15px;	
}
.newsWrap h1{
	text-align:center;
	margin:40px 0;
}
#nhtLeft{
	width:65%;
	float:left;
}
.clrFix{
	clear:both;
	margin:5px 0;
}
#nhtRight{
	float:left;
	width:30%;
}
label > span{
color:#ff0000;
}
.nhtWidget{
	width:95%;
	height:300px;
	padding:5px;
}
